.nav-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
}

.nav-container li {
    display: grid;
    justify-content: center;
    align-items: center;
    border: none;
    list-style: none;
}

li{
    font-family: 'Tilt Neon', cursive;
    width: 120px;
    border-radius: 12px;
    padding: 8px 10px;
}

li:hover {
    box-shadow: 6px 4px 20px rgba(0,0,0,0.3);
}

ul li {
    padding: 10; /* remove any default padding */
    margin-bottom: 8px; /* add space between each li tag */
}

ul li:last-child {
    margin-bottom: 0; /* remove margin from the last li tag */
}

h1 {
    background-color: rgb(211, 211, 211);
}

thead th:nth-child(even) {
    background-color: lightgray;
}

thead th:nth-child(odd) {
    background-color: gray;
}

table tbody td {
    text-align: center;
    padding: 8px;
}

a {
    color: rgb(5, 5, 5);
    text-decoration: none;
}

a:hover {
    color: rgb(78, 72, 72);
}

body{
    font-family: 'Tilt Neon', cursive;
}
